.flight-search-form {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  position: relative;

  .trip-options {
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .round-trip {
    border: none !important;
    color: white;
    appearance: auto;
    background-color: transparent;

    &:focus {
      color: white;
      background: transparent;
    }

    option {
      border: none;
      background: #2a2a2a;
      color: white;
    }
  }

  .dropdown {
    #dropdown-basic-button {
      border: none;
      margin-left: 5px;
      color: #9aa0a6 !important;
      background-color: #2a2a2a !important;
    }

    .dropdown-menu {
      background-color: #2a2a2a !important;

      .dropdown-item-text {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white !important;

        button {
          color: #2a2a2a !important;
          background-color: #d2e3fc !important;
        }
      }
    }
  }

  .class-type {
    border: none !important;
    color: white;
    appearance: auto;
    background-color: transparent;

    &:focus {
      color: white;
      background: transparent;
    }

    option {
      border: none;
      background: #2a2a2a;
      color: white;
    }
  }

  .form-control {
    padding: 15px !important;
    border-color: gray !important;
    color: #9aa0a6 !important;
    background: transparent !important;

    &::placeholder {
      color: #9aa0a6 !important;
    }
  }

  .form-group {
    position: relative;

    .input-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      color: #6c757d;
    }

    input, select {
      padding-left: 40px; // to make space for the icon
      background-color: #1f1f1f;
      border: 1px solid #444;
      color: white;

      &:focus {
        background-color: #1f1f1f;
        border-color: #666;
        box-shadow: none;
      }
    }
  }

  .dropdown-menu {
    background-color: #1f1f1f;
    color: white;

    button {
      color: white;
      background-color: transparent;
      border: none;

      &:hover {
        background-color: #444;
      }
    }
  }

  .submit-btn {
    width: 100%;
    bottom: -20px;
    position: absolute;
    .search-btn {
      width: 100%;
      border: none;
      color: #2a2a2a;
      padding: 10px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(114, 152, 223);

      &:hover {
        background-color: rgb(114, 152, 223);
        color: #2a2a2a;
      }
    }
  }
}

.flight-results-container {
  margin: 35px 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #9aa0a6;
  }

  .flight-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .flight-card-more {
      background-color: transparent;
      border: 1px solid #9aa0a6;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin: 10px;
      width: 80%;
      box-sizing: border-box;
      transition: transform 0.3s;

      &:hover {
        box-shadow: 0 2px 5px rgba(2, 2, 2, 0.5);
      }

      .airline-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .airline-logo {
          width: 50px;
          height: auto;
          margin-right: 10px;
        }

        .airline-name {
          font-size: 16px;
          font-weight: bold;
          color: white;
        }
      }

      p {
        margin: 5px 0;
        font-size: 14px;
        color: white;
      }

      strong {
        font-weight: bold;
        color: white;
      }
      .show-less-div {
        display: flex;
        justify-content: end;
        svg {
          cursor: pointer;
        }
      }
    }
    .flight-card-short {
      background-color: transparent;
      border: 1px solid #9aa0a6;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin: 10px;
      width: 80%;
      box-sizing: border-box;
      transition: transform 0.3s;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        box-shadow: 0 2px 5px rgba(2, 2, 2, 0.5);
      }
      div{
        width: calc(100% / 4);
        text-align: center;
      }
      .airline-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .airline-logo {
          width: 50px;
          height: auto;
          margin-right: 10px;
        }

        .airline-name {
          font-size: 16px;
          font-weight: bold;
          color: white;
        }
      }

      p {
        margin: 5px 0;
        font-size: 14px;
        color: white;
      }

      strong {
        font-weight: bold;
        color: white;
      }

      .show-more-div {
        display: flex;
        justify-content: end;

        svg {
          cursor: pointer;
        }
      }
    }
  }
}

.no-flight-container {
  width: 100%;
  text-align: center;
  margin: 50px 0;
  position: relative;

  .image-container {
    position: relative;
    display: inline-block;

    .no-flights-image {
      max-width: 100%;
      object-fit: cover;
      height: auto;
      opacity: 0.6;
    }

    .no-flights-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    }
  }
}

@media (max-width: 1024px) {
  .flight-results {
    .flight-cards {
      .flight-card {
        width: 45%;
      }
    }
  }
}

@media (max-width: 768px) {
  .flight-results {
    .flight-cards {
      .flight-card {
        width: 100%;
      }
    }
  }
}

@media (max-width: 480px) {
  .flight-results {
    .flight-cards {
      .flight-card {
        width: 100%;
      }
    }
  }
}
